/** @format */

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Poppins, sans-serif;
}

.main-container {
  border: 0.1rem solid black;
  padding: 8rem 3rem;
  margin: 10rem;
  border-radius: 2rem;
  background-color: rgb(245, 102, 6);
  color: white;
  /* justify-content: center; */
  /* align-items: center; */
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.header h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.image {
  width: 20rem;
  border: 0.1rem solid black;
  margin-bottom: 2rem;
}

.about {
  text-decoration: underline;
}

.header p {
  width: 95rem;
  margin-top: 1rem;
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.info {
  margin-top: 2rem;
  text-decoration: underline;
}

.fish {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10rem;
}

.left-div {
  line-height: 3rem;
  /* padding: 10rem; */
}

.right-div {
  line-height: 3rem;

  /* padding: 10rem; */
}

.image2 {
  margin-top: 2rem;
  width: 20rem;
  height: 20rem;
  border: 0.2rem solid black;
  border-radius: 50%;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn {
  padding: 2rem 6rem;
  color: brown;
  background: white;
  border-radius: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
  text-transform: uppercase;
}
.btn:hover {
  background-color: brown;
  color: white;
  transition: all 600ms;
}
.footer a {
  text-decoration: none;
  color: blue;
}
